<!DOCTYPE html>
<html lang="en" charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/header::header('Products')}"></div>
    <script type="text/javascript" src="/js/list-products.js"></script>
</head>
<body>
<div th:replace="~{fragment/header::navbar}"></div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h3"><b>Products</b></a>
    </nav>
    <a href="/product" class="btn btn-primary">+Add product</a><br><br>
    <div class="table-container">
        <div class="d-flex justify-content-between mb-3">
            <div>
                Show:
                <a id="pageSize"> 5</a>
            </div>
            <div>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <table class="table" id="listProducts">
            <thead>
            <tr>
                <th scope="col">SN</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" id="previous-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" id="pageNo">1</a></li>
                    <li class="page-item"><a class="page-link" id="next-link">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:replace="~{fragment/header::pop-up}"></div>
<footer th:replace="~{fragment/footer::copy}"></footer>
</body>
</html>