<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragment/header::header('Search Product')}"></div>
  <script type="text/javascript" src="/js/search-product.js"></script>
</head>
<body>
<div th:replace="~{fragment/header::navbar}"></div>
<div class="container bg-light mt-3">
  <div class="mt-3">
    <form id="search-input">
      <div class="find-search input-group mb-3">
        <input type="text" class="form-control" id="keyword" name="keyword"
               placeholder="Type your keyword"
               autofocus required>
        <div class="form-group">

          <select class="form-control" id="category" name="category" placeholder="">
            <option value="">Select category</option>
            <option th:each="category : ${categories}"
                    th:value="${category.categoryId}"
                    th:text="${category.name}"></option>
          </select>
        </div>
        <div class="">
          <button class="btn btn-primary" type="submit" id="search">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

</form>
</div>
<div class="container">
  <div class="row" id="products"> </div>
</div>
</body>
<div th:replace="~{fragment/footer::copy}"></div>

</html>