<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/pocketbase/authentication.js"></script>

</head>
<body>
    <h1> Hello world</h1>
</body>
<!--<script src="/path/to/dist/pocketbase.umd.js"></script>-->
<!--<script type="text/javascript">-->
<!--    const pb = new PocketBase('http://127.0.0.1:8090');-->

<!--    const authData = await pb.admins.authWithPassword('hoanghongcam626@gmail.com', '1234567890');-->

<!--    console.log(pb.authStore.isValid);-->
<!--    console.log(pb.authStore.token);-->
<!--    console.log(pb.authStore.model.id);-->
<!--</script>-->

</html>